body
{
    font-family: arial;
    background-color: grey;
}

h1
{
  color: Orange;
}
h2
{
  color: white;
}
h3
{
  color: white;
}
p
{
  color: white;
  font-weight: bold;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 18px;
    background-color: #dddddd;
}
li
{
  display: inline;
  color: orange;
  padding: 18px;
}
li a:hover
{
  padding: 18px;
  background-color: #111;
}
p
{
  color: white;
}
.active
{
  background-color: orange;
}
.heading
{
  text-align: center;
  margin: auto;
  border: 2px solid white;
  padding: 30px;
}
.navigation
{
  text-align: center;
}
.commentBox
{
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  height: 250px;
  margin: 30px;
  overflow: scroll;
}
.commentName
{
  width: 150px;
  display: block;
  float: left;
  height: auto;
  padding-right: 10px;
}
.commentContent
{
  padding-left: 151px;
  width: auto;
  display: flex;
  float: left;
  height: auto;
}
.activeLink
{
  color: blue;
}
a
{
  color: orange;
}

* {box-sizing: border-box}

.slideshow
{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slides
{
  display: none;
}
.prev, .next
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next
{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover
{
  background-color: rgba(0,0,0,0.8);
}
.prev:hover, .next:hover
{
  background-color: rgba(0,0,0,0.8);
}
.prev:hover, .next:hover
{
  background-color: rgba(0,0,0,0.8);
}
.dot
{
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover
{
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
